body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    background-color: black;
    color: white;
    padding: 12px;
    font-family: cursive;
    border: 2px solid #111;

}

.accent {
    color:aqua; 
    font-family: cursive;
}

h2 {
    background-color: #6a3dad;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 8px;
    margin:5 px;
}

h3 {
    background-color: #9fc5f8;
    text-align: right;
    text-decoration: underline;
    padding: 6px 10px;
    margin: 5 px;
    font-family: sans-serif;
}