body {
    margin: 4px;
}

h1 {
    background-color: black;
    color: white;
    padding: 12px; 
    font-family: cursive;
    } 

.accent {
    color:aqua; 
    font-family: cursive;
}

h2 {
    background-color: #6a3dad;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 12px;
}

h3 {
    background-color: #9fc5f8;
    text-align: right;
    text-decoration: underline;
    padding: 12px;
    font-family: sans-serif;
}